<div class="rounded bg-light text-dark msg"
     @onmouseover="() => this.isExtraInfoShown = true" @onmouseout="() => this.isExtraInfoShown = false">
    <small class="form-text disabled msg-username">@message.Username @(currentUser.Id == message.UserId ? "[ ja ]" : "")</small>
        
    @message.Content

    @if (this.isExtraInfoShown)
    {
        <Animate Animation="new FadeUpAnimation()" Duration="TimeSpan.FromMilliseconds(200)">
            <small class="form-text disabled msg-date">przesłano: @message.SendDate</small>
        </Animate>
    }
</div>

@code {

    [Parameter]
    public Message message { get; set; }

    [Parameter]
    public User currentUser { get; set; }
    
    private bool isExtraInfoShown = false;
}