@page "/chats"

@using chattr.Client.Pages.Chats.MessageBox

@inject IJSRuntime _jsRuntime
@inject ISessionStorageService _sessionStorage

<div class="container-fluid bg-dark">
    <ChatsMenu OnMessageLoad="MessagesLoaded" />
    
    <div>
        @if (_messages is not null && _currentUser is not null)
        {
            @foreach (var msg in _messages)
            {
                <MessageBox message="msg" currentUser="_currentUser" />
            }
        }
    </div>
</div>

@code {

    private List<Message> _messages;

    private User _currentUser;

    private async Task MessagesLoaded(List<Message> messages)
    {
        _messages = messages;
        await _jsRuntime.InvokeVoidAsync("console.log", messages);

        _currentUser = await _sessionStorage.GetItemAsync<User>("CURRENT_USER");
        StateHasChanged();
    }
}